* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  background-color: #121212;
  color: #fff;
}

.course {
  max-width: 500px;
  width: 90%;
  border-radius: 5px;
  margin: 50px auto;
}

.course a {
  text-decoration: none;
  position: relative;
}

.course h2 {
  font-size: 30px;
  line-height: 50px;
  color: #fff;
  text-align: center;
}

.course img {
  width: 100%;
  border-radius: 5px;
}